* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  :root {
    --clr-white: hsl(0, 0%, 100%);
    --clr-light-gray: hsl(212, 45%, 89%);
    --clr-grayish-blue: hsl(220, 15%, 55%);
    --clr-dark-blue: hsl(218, 44%, 22%);
  }

html {
    background-color: var(--clr-light-gray);
}

body {
    width: 100%;
    font-family: 'Outfit', sans-serif;
    font-size: 15px;
}

.card-container {
    background-color: var(--clr-white);
    width: 300px;
    border-radius: 15px;
    position: absolute;
    padding: 15px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centers horizontally and vertically */
}

.card-container img {
    max-width: 100%;
    display: block;
    border-radius: 10px;
    box-shadow: 0px 3px 10px var(--clr-light-gray);
}

.text-content {
    margin: 20px 15px;
    text-align: center;
}

p {
    font-weight: 100;
    color: var(--clr-grayish-blue);
}

h2 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
}



.footer {
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%); /* Center horizontally */
}